@font-face {
    font-family: 'Metanoia';
    src: url('font/Metanoia.woff2') format('woff2');
    /* Add other font formats and paths if necessary */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "work sans";
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #f3e6e1;
}

.page1{
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    position: relative;
    animation: fadeUp 1s ease-out; /* Adjust the duration and timing function as needed */
    animation-fill-mode: forwards; /* Keeps the final state after the animation completes */
}

.page1 .left{
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page1 .left .container{
    text-align: center;

}

.ri-arrow-down-wide-fill{
    font-size: 2vw;
    position: absolute;
    top: 90%;
    left: 45%;
    opacity: 0; /* Set initial opacity to 0 */
    animation: logoAppear 1s ease-out;
    animation-fill-mode: forwards;   /* Keeps the final state after the animation completes */    
}
.page1 .left .container img{
    width: 40vw;    
    animation: logoAppear 1s ease-out;
    animation-fill-mode: forwards;
}

.page1 .left h1{
    font-family: Metanoia;
    padding-left: 2vw;
    font-size: 4vw;
    color: #5D0E45;
}


.page1 .right{
    /* background-color: red; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page1 .right img {
    height: 32vw;
    width: 30vw;
    object-fit: cover;
    border: none;
    border-radius: 60% 60% 0 0;

}

/* PAGE TWO */

.page2{
    height: 100%;
    width: 100%;
    background-image: url(bgLogo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    padding-top: 10vh;
    padding-left: 10vh;
}

.page2 .left img{
    object-fit: cover;
    width: 30vw;
}

.page2 .left h2{
    font-family: Poppins;
    font-weight: 400;
    font-size: 3vw;
}

.page2 .left h1{
    font-family: Metanoia;
    font-size: 5vw;
    /* font-family: 200; */
    color: white;
    margin-top: 1.5vh;
    line-height: 13vh;
}

.neha-photo{
    height: 18vw;
    width: 30vw;
    object-fit: cover;
    object-position: 50% 15%;
    border-radius: 120px 120px 0px 0px;
}

.exp {
    margin-top: 7vh;
    width: 35vw;
    object-fit: cover;
    text-align: center;
}   

.exp h6{
    font-family: Poppins;
    text-align: center;
    /* color: #5D0E45; */
    color: white;
    font-weight: 400;
    font-size: 1.2vw;
    padding-top: 2vh;
}


/* PAGE 3 */

.page3{
    height: 100%;
    width: 100%;
    /* background-position: 50% 60%; */
    /* border-radius: 20px; */
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 10vh 10vh 10vh 10vh;
    /* background-color: aqua; */
}

.page3 .left {
    background-image: url(orange_waves.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.page3 .left h1{
    padding: 2vw;
    text-align: center;
    font-size: 5vw;
    font-family: Metanoia;
    color: #5D0E45;
}

.page3 .left h6{
    padding: 2vw;
    font-size: 1.5vw;
    font-family: Poppins;
    font-weight: 400;
    color: #161033;

}

.collage-container{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw;
    grid-template-rows: 10vw 10vw 10vw 10vw;
}

.collage-container img {
    object-fit: cover;
    width: 100%;
}





.bachpan{
    /* background-color: red; */
    height: 100%;
    width: 100%;
    /* background-position: 50% 60%; */
    /* border-radius: 20px; */
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 10vh 10vh 10vh 10vh;
}


.bachpan .left {
    
    background-image: url(purpleWaves.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    /* align-items: center; */
    text-align: center;
}


.bachpan .left h1{
    padding: 2vw;
    text-align: center;
    font-size: 2.4vw;
    font-family: Metanoia;
    color: #5D0E45;
    text-align: left;
}

.bachpan .left img{
    object-fit: cover; 
    width: 70%;
}
.bachpan .left h6{
    text-align: left;
    padding: 2vw;
    font-size: 1.4vw;
    font-family: Poppins;
    font-weight: 400;
    color: #161033;

}
.bachpan .right{
    text-align: right;
}

.bachpan .right img {
    border: 7px solid #C01B63;
    border-radius: 4px;
    object-fit: cover; 
}

.b3{
    height: 29vh;
    width: 52.5vh;
}

.b2{
    height: 29vh;
    width: 72.5vh;
}

.b1{
    height: 29vh;
    width: 52.5vh; 
}


.thecuspstory{
    /* background-color: red; */
    height: 100%;
    width: 100%;
    /* background-position: 50% 60%; */
    /* border-radius: 20px; */
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10vh 10vh 10vh 10vh;
}


.thecuspstory .left {
    
    background-image: url(yellowWaves.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    /* align-items: center; */
    text-align: center;
}


.thecuspstory .left h1{
    padding: 2vw;
    text-align: center;
    font-size: 2.5vw;
    font-family: Metanoia;
    color: #5D0E45;
    text-align: left;
}

.thecuspstory .left img{
    object-fit: cover; 
    width: 47%;
    border: 7px solid black
}
.thecuspstory .left h6{
    text-align: left;
    padding: 2vw;
    font-size: 1.4vw;
    font-family: Poppins;
    font-weight: 400;
    color: #161033;

}
.thecuspstory .right{
    text-align: right; 
}


.thecuspstory div{
    margin-bottom: 1vh;
}
.thecuspstory .right img {
    border: 7px solid #FFCE04;
    border-radius: 4px;
    object-fit: cover; 
}

.c3{
    height: 26vh;
    width: 26vh;
}

.c2{
    height: 28vh;
    width: 42vh;
}

.c1{
    height: 28vh;
    width: 42vh; 
}   


@media (max-width: 600px) {
    /* Styles for screens with a maximum width of 600px */
    .page1{ 
        /* background-color: blue; */
        display: grid;
        grid-template-columns: 100%;
    }
    
    /* IF you want Logo as a background
    .page1 .left{
         background: url(bgLogo.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
    } */

    .page1 .left .container img{
        width: 100vw;  
    }

    .ri-arrow-down-wide-fill{
        font-size: 8vw;
    }

    .page1 .right{
        display: none;
    }

    /* PAGE 2   */


    .page2{
        background-image: url(bgLogo.png);
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: 50% 60%; */
        border-radius: 0px;
        display: grid;
        grid-template-columns: 100%;
        justify-content: space-evenly;
        padding: 4vh;
    }

    .page2 .left {
        text-align: center;
    }
    
    .page2 .left img{
        object-fit: cover;
        width: 40vw;
        margin-bottom: 2vh;
        animation: fadeUp 1s ease-out; /* Adjust the duration and timing function as needed */
        animation-fill-mode: forwards; /* Keeps the final state after the animation completes */
    }
    
    .page2 .left h2{
        text-align: left;
        animation: fadeLeft 1s ease-out;
        animation-fill-mode: forwards;
    }
    
    .page2 .left h1{
        font-size: 15vw;
        text-align: left;
        /* font-weight: 200; */
        margin-top: 1.5vh;
        line-height: 8vh;
        animation: fadeLeft 1s ease-out;
        animation-fill-mode: forwards;
    }
    
    .neha-photo{
        height: 40vw;
        width: 60vw;
        object-fit: cover;
        object-position: 50% 15%;
        border-radius: 10px;
        animation: fadeUp 1s ease-out;
        animation-fill-mode: forwards;
    }
    
    .exp {
        margin-top: -2vh;
        width: 100%;
        object-fit: cover;
        text-align: center; 
        /* background-color: red; */
    }   
    
    .exp h6{
        font-family: Poppins;
        text-align: center;
        /* color: #5D0E45; */
        color: white;
        font-weight: 400;
        font-size: 3vw;
        padding-top: 2vh;
        animation: logoAppear 1s ease-out;
        animation-fill-mode: forwards;
    }
   
    



    .page3, .bachpan, .thecuspstory {
        display: none;
    }

}





  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(20px); /* Adjust the distance you want to move up */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes logoAppear {
    from {
      opacity: 0;
      transform: scale(0.8); /* You can adjust the initial scale as needed */
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes fadeLeft {
    from {
      opacity: 0;
      transform: translateX(-20px); /* Adjust the distance you want to move left */
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }